body {
    background-color:#252525;
    font-family: 'Muli', sans-serif;
}

/***************************/
/*       HEAD : TITLE      */
/***************************/

#titre{
    font-family:'Megrim', cursive;
    font-size:24px;
    text-align:center;
    width: 100%;
}

#titre::before{
    display: inline-block;
    height: 10px;
    content: " ";
    text-shadow: none;
    background-color: #313a3f;
    width: 25%;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 0px;
    border-radius: 5px;
}

#titre::after{
    display: inline-block;
    height: 10px;
    content: " ";
    text-shadow: none;
    background-color: #313a3f;
    width: 25%;
    margin-left: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

/***************************/
/*  BUTTONS, LINK & ICONS  */
/***************************/

.material-icons{
    font-size:11px;
    color:#8e3f72;
    /*padding-top:50px;*/
    padding-left:37px;
    float:left;
}

img, .heighBtnPlay{
    height:66px;
    width:66px;
}

.avatar{
    font-size:16px;
}

.imgAvatar{
    height:90px;
    width:90px;
}
.margHt{
    margin-top:60px;
}

.lien_cgu{
    color: #9e9e9e;
    text-decoration: underline;
}

/***************************/
/*    INPUTS MATERIALIZE   */
/***************************/

/*label focus color */

.input-field input[type=text]:focus + label {
    color: #287e7f !important;
}
.input-field input[type=email]:focus + label {
    color: #287e7f !important;
}
.input-field input[type=password]:focus + label {
    color: #287e7f !important;
}

/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #287e7f !important;
    box-shadow: 0 1px 0 0 #287e7f !important;
}
.input-field input[type=email]:focus {
    border-bottom: 1px solid #287e7f !important;
    box-shadow: 0 1px 0 0 #287e7f !important;
}
.input-field input[type=password]:focus {
    border-bottom: 1px solid #287e7f !important;
    box-shadow: 0 1px 0 0 #287e7f !important;
}
