@media only screen and (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

}

@media only screen and (min-width:480px) { /* smartphones, Android phones, landscape iPhone */

}

@media only screen and  (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

}
@media only screen and  (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */


}

@media only screen and  (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}

@media only screen and  (min-width:1281px) {/* hi-res laptops and desktops */

}

body {
    background-color: #2b2b2b;
}


img.iconmenu {
    width: 30px;
    position: fixed;
    padding: 20px 15px;
}

.submenu {
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}

.submenu a {
    background-color: #1b5455;
}

.side-menu, .side-menu ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.side-menu ul{
    display: none;
}

.side-menu li {
    position: relative;
}

.side-menu a{
    display: block ;
   /* height: 30px;*/
    line-height: 30px; /* Doit etre equivalent a la hauteur du menu pour centrer le texte verticalement */
    padding: 3px 10px;
    text-align: center;
}

.side-menu li:hover ul {
    display: inline ;
    position: absolute;
    top: 0px;

    z-index: 100;
}

.side-menu ul a {
    display: inline-block;
}

.side-menu {
    list-style-type: none;
}

.side-menu {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 60px;
    list-style-type: none;
    background:#287e7f;
    overflow: hidden;
    transition: width .5s;
    z-index: 4;
}

.side-menu:hover {
    width: 300px;
}

.side-menu li {
    width: 300px;
}

.side-menu li span {
    font-size: 1rem;
    margin: 20px 30px 0 22px;
}

.side-menu li a {
    display: block;
    font-size: .9rem;
    text-decoration: none;
    color: #FFF;
    height: 40px;
    padding-top: 20px;
}

.side-menu li a:hover{
   background: #2b2b2b;
   display: block;
}

.side-menu a:hover {
    background-color: #C5C5C5;
}


