body {
  background-color: #252525;

}

#logo_movie_night{
  width: 353px;
  margin-bottom: 2%;

}
#logo{
  text-align: center;
}
  

h1{
  color: white;
  font-family: 'Megrim', cursive;
  font-size: 24px;
  text-align: center;
  width: 100%;

}

h1::before{
  display: inline-block;
    height: 10px;
    content: " ";
    text-shadow: none;
    background-color: #313a3f;
    width: 25%;
    margin-bottom: 5px;
    margin-left: 0px;
    border-radius: 5px;
}

h1::after{
  display: inline-block;
    height: 10px;
    content: " ";
    text-shadow: none;
    background-color: #313a3f;
    width: 25%;
   ;
    margin-bottom: 5px;
    border-radius: 5px;
}
p{
  margin-top: 35px;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
#para{
  margin:auto;
  width: 80%;
  margin-bottom: 2%;
}