body{
  background-color: #252525;
  color: white;
}

#divlogo{
  text-align: center;
  margin-top: 20px;
}

#logo{
  height: 353px;
  width: 353px;
}

#titre{
  color: white;
  font-family: 'Megrim', cursive;
  font-size: 24px;
  text-align: center;
  width: 100%;
}

#titre::before{
  display: inline-block;
    height: 10px;
    content: " ";
    text-shadow: none;
    background-color: #313a3f;
    width: 25%;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 0px;
    border-radius: 5px;
}

#titre::after{
  display: inline-block;
    height: 10px;
    content: " ";
    text-shadow: none;
    background-color: #313a3f;
    width: 25%;
    margin-left: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#divContenu{
  margin-bottom: 90px;
}

label{
  color:white;
  font-size: 19px;
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
}

#divObjet{
  text-align: center;
}

.textInput, #commentaires, #soiree{
  background-color: #252525;
  z-index: 99999;
  margin: 25px;
  width: 300px;
  font-size: 14px;
  color:white;
  font-family:'Open Sans', sans-serif;
}

.textInput{
  border: none;
  border-bottom: 2px solid #42B4BC;
}

#commentaires, #soiree{
  border: 2px solid #42B4BC;
  border-radius: 5px;
}

#commentaires:focus, .textInput:focus, #soiree:focus{
  outline: none;
}

#soiree option:hover{
  background: hsl(321, 39%, 19%);
}

#submit_button{
background-color: #252525;
border : none;
color: #42b4bc;
}

.fa-play:hover{
  background-color: #42b4bc;
  color: #252525;
}

.circle {
  padding: 10px;
  width: 30px;
  font-size: 30px;
  text-align: center;
  border-radius: 30px;
  border: solid 1px;
}

#divSubmit{
  display: flex; 
  justify-content: flex-end;
}