body {
    background-color: #eee;
}
/* Menu deroulant *************************************************************/
#menuvertical {
    background-color: #666 ;
    width: 140px; /* Largeur du menu */
}
#menuvertical,
#menuvertical ul {
    /* Suppression des puces et des marges pour les listes du menu et des sous-menus */
    list-style-type: none ;
    margin: 0px;
    padding: 0px;
}
#menuvertical ul {
    /* Masquage des sous-menu par defaut */
    display: none ;
}
#menuvertical li {
    /* Positionnement relative des elements de menu pour pouvoir positionner les
       sous-menu correctement en absolu */
    position:   relative;
}
#menuvertical a {
    /* On transforme les liens en bloc pour pouvoir les dimensionner */
    display: block ;

    /* Dimensions des liens */
    width: 120px;
    height: 30px;
    line-height: 30px; /* Doit etre equivalent a la hauteur du menu pour centrer le texte verticalement */
    padding: 3px 10px;

    text-align: center;
}
#menuvertical li:hover ul {
    /* Affichage du soumenu au survol */
    display: block ;

    /* Positionnement du sous-menu */
    position: absolute;
    top: 0px;
    left: 140px; /* Decalage du sous-menu de la largeur du menu */
    z-index: 100; /* Gestion de la superposition des sous-menus par rapport au reste de la page */
}
#menuvertical ul a {
    /* Changement de l'affichage des liens des sous-menus pour ne pas les afficher
    en inline-block comme les liens de menu, ils seront donc verticaux */
    display: block;
}

