<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<script type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="../Public/CSS/Accueil.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">

</head>
<body>
	<img src="../Public/Img/logo_movie_night.svg" id="logo">
	<div id="buttons">
		<form method="post" action="#">
			<input type="submit" name="inscription" value = "S'inscrire" class="button">
		</form>
		<form method="post" action="Connection.html">
			<input type="submit" name="connection" value = "Se connecter" class="button">
		</form>
	<p id="home_text">
		Pour ne plus passer une soirée seul <br>devant son film ou sa série préférée !
	</p>
	</div>

</body>
</html>