<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <title>Menu Admin</title>
    <link rel="stylesheet" type="text/css" href="../Public/CSS/admin_menu.css">
</head>
<body>

<ul class="side-menu" >

    <li><a href="#"><span class="fa fa-code"></span>Membres</a></li>

    <li><a href="#"><span class="fa fa-cog"></span>Evénements</a></li>
    <ul>
        <li><a href="#">Organisés</a></li>
        <li><a href="#">Participés</a></li>
    </ul>

    <li><a href="#"><span class="fa fa-font"></span>Contact </a></li>
    <ul>
        <li><a href="#">Divers</a></li>
        <li><a href="#">Signalements</a></li>
    </ul>
    <li><a href="#"><span class="fa fa-caret-square-o-right"></span>Idées proposées</a></li>

    <li><a href="#"><span class="fa fa-check-square"></span>Historique</a></li>
    <ul>
        <li><a href="#">Anciens évènements</a></li>
        <li><a href="#">Idées</a></li>
        <li><a href="#">Black liste</a></li>
    </ul>

    <li><a href="#"><span class="fa  fa-square"></span>Charte</a></li>
    <li><a href="#"><span class="fa fa-bars"></span>FAQ</a></li>
    <li><a href="#"><span class="fa fa-bars"></span>A propos</a></li>
    <li><a href="#"><span class="fa fa-bars"></span>Se déconnecter</a></li>

</ul>


</body>
</html>