<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<script type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="../Public/CSS/Connection.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

</head>
<body>
	<img src="../Public/Img/logo_movie_night.svg" id="logo">
	<p id = "titre">Se connecter</p>
	<form>
		<input type="text" name="identifiant" placeholder="Adresse mail" id = "identifiant" class="champs">
		<input type="password" name="password" placeholder="Mot de passe" id = "password" class="champs">
		
		<a href="Accueil.html"><i class="fa fa-fast-backward circle"></i></a>
      	<i class="fa fa-facebook circle"></i>
    	<i class="fa fa-google-plus circle"></i>

    	<button type="submit" id="submit_button"><i class="fa fa-play circle"></i></button>
	</form>

</body>
</html>