<!DOCTYPE html>
<html>
<head>
	<title>menu</title>
	<link rel="stylesheet" type="text/css" href="../Public/CSS/menu.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="shortcut icon" href="#">
	<meta charset="utf-8">
</head>
<body>
	<div id="menu">
	 	<a href=""><i class="fa fa-film"></i></a>
	 	<a href=""><i class="fa fa-rocket"></i></a>
	 	<a href=""><i class="fa fa-user"></i></a>
	 	<a href=""><i class="fa fa-search"></i></a>
	 	<a href="#" id="BtnMenuDeroulant" onclick="deroulerMenu()"><i class="fa fa-ellipsis-h"></i></a>
	</div>
	<div id="menuDeroulant">
	 	<a href="">Créer évènement</a>
	 	<a href="">Proposer évènement</a>
	 	<a href="">Contact / Signalement</a>
	 	<a href="">Geolocalisation</a>
	 	<a href="">Charte</a>
	 	<a href="Accueil.html">Deconnexion</a>
	</div>
</nav>
</body>
<script src="../Public/JS/menu.js"></script>
</html>