<!DOCTYPE html>
<html>

<head>
	<title>Profil</title>
	<meta charset="utf-8">

	<link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href=../Public/CSS/profil.css>
</head>	

<body>
	<img src="../Public/Img/logo_profil.svg" id="logo_profil">
		
	<h1> Profil </h1>
	<label> Préférences </label><br>
		 
			<label for="film_serie">Film/Serie : </label> <br>
			<i class="fal fa-video"></i>

			<span>
				<label for="bavard">Bavard : </label> <br>
			<li>
     		</span>
     		<i class="material-icons">&#xE7F4;</i>
   			</li>
    		<li>
      		<i class="material-icons">&#xE7F7;</i>
   			</li>
			
			<label for="fumeur">Fumeur : </label>
			<i class="fas fa-smoking"></i>
			<i class="fal fa-smoking-ban"></i> <br>

			<label for="proprietaire_animaux">Propriétaire d'animaux :  </label>
			<i class="fas fa-paw"></i><br>
			
			<label for="mineur_ok">Mineur accepté : </label> <br>
	
	</body>
</html>