<!DOCTYPE html>
<html>

<head>
	<title>Profil</title>
	<meta charset="utf-8">

	<link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href=../Public/CSS/profil.css>


</head>	

<body>
	<img src="../Public/Img/logo_profil.svg" id="logo_profil">
		
	<h1> Profil </h1>
	<div id=formulaire>
	<form action="" class="form-group">		
	    <div class="select">
	        <select id="civilite">
	            <option value="">-- Civilité --</option>
	                <option value="morocco">Mademoiselle</option>
	                <option value="algeria">Madame</option>
	                <option value="tunisia">Monsieur</option>
	        </select>
	    <div class="select__arrow" required></div>
		</div><br>
	

		<label for="nom">Nom : </label>
		<i class="fal fa-address-card"></i>
	    <input type="text" name= "nom" class="form-control" required> 
	    <br>
	        	

	    <label for="prenom">Prenom : </label>
	  	<input  type="text" name= "prenom" class="form-control" required><br>
	   

	    <label for="date">Date : </label>
	    <input  type="date" name= "date" class="form-control" required><br>

	    <label for="description">Description : </label><br>
	    <textarea name="description" required ></textarea><br>

	    <label for="avis">Avis : </label>
        		<div class="rating rating2"><!--
		--><a href="#4" title="Give 5 stars">★</a><!--
		--><a href="#3" title="Give 4 stars">★</a><!--
		--><a href="#2" title="Give 3 stars">★</a><!--
		--><a href="#1" title="Give 2 stars">★</a><!--
		--><a href="#0" title="Give 1 star">★</a>
			</div>

	
		<div class="historique">
			<input type="button" value="Historique" style="cursor:pointer; padding:5px 20px; background-color:#252525; color:#42B4BC; border:dotted 1px #42B4BC; border-radius:4px; font-size: 22px;" /> 
		</div>

		<label for='materiel'>Materiel : </label>
		<img src="../Public/Img/plus.svg" id="plus">
	</form>
	</div>
</body>


</html>