<!DOCTYPE html>
<html>
<head>
    <title>Menu déroulant vertical</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Public/CSS/test.css">
</head>
<body>
<ul id="menuvertical">
    <li><a href="#">Menu 1</a></li>
    <li><a href="#">Menu 2</a>
        <ul>
            <li><a href="#">Sous-Menu 2.1</a></li>
            <li><a href="#">Sous-Menu 2.2</a></li>
            <li><a href="#">Sous-Menu 2.3</a></li>
            <li><a href="#">Sous-Menu 2.4</a></li>
        </ul>
    </li>
    <li><a href="#">Menu 3</a>
        <ul>
            <li><a href="#">Sous-Menu 3.1</a></li>
            <li><a href="#">Sous-Menu 3.2</a></li>
            <li><a href="#">Sous-Menu 3.3</a></li>
            <li><a href="#">Sous-Menu 3.4</a></li>
        </ul>
    </li>
    <li><a href="#">Menu 4</a></li>
</ul>
</body>